body {
  font-family: "Special Elite", Courier, monospace;
  font-size: 115%;
  background-image: url("../images/fire-and-flames.jpg");
  background-position: center;
  width: 1080px;
  margin: auto;
  opacity: 50%;
}

.p-text {
  font-size: 150%;
}

img {
  width: 200px;
  height: 135px;
  border-radius: 95%;
}

.transparent-bkg {
  background-color: #cccccca1;
  border-radius: 4px;
  padding: 8px;
}

.section-title {
  font-size: 200%;
}

.main-section-title {
  font-family: 'Rock Salt', cursive;
  font-size: 300%;
  text-align: center;
}

.character {
  display: inline-block;
  cursor: pointer;
  background-color: #cccccca1;
}

.character-image {
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.character-name {
  text-align: center;
}

.character-health {
  text-align: center;
}

#available-to-attack-section .character {
  display: inline-block;
  cursor: pointer;
}

.enemy {
  display: inline-block;
  cursor: pointer;
}

#action .character {
  background-color: #cccccca1;
  /* margin: 5px; */
}

.target-enemy {
  background-color: #cccccca1;
}

#selected-character {
  width: 190px;
  height: 160px;
}

#attacker {
  width: 190px;
  height: 160px;
}

#defender {
  width: 190px;
  height: 160px;
}

#defender-name {
  text-align: center;
}

#defender-health {
  text-align: center;
}

button {
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
}

#choose-enemy-button {
  visibility: hidden;
}

#restart-button {
  visibility: hidden;
}

#turn-counter {
  font-size: 150%;
}

#game-message {
  margin: 25px;
  height: 195px;
}